@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <div class="alert alert-primary">
            <p>Confirmation successful!</p>
        </div>
    </div>
</div>