<div class="container">
    <!--Footer-->
    <footer>
        <div class="float-left">
            <!--Credits-->
            <p class="footer"><small>Developed by Jerald, Titus, Yuan Wei and Nicole</small></p>
        </div>
        <div class="float-right">
            <!--To be decided; back to top button or copyright or smth-->
            <p class="footer"><small>Lorem Ipsum</small></p>
        </div>
    </footer>
</div>