@{
    ViewData["Title"] = "Cameras | Admin";
}

<head>
    <script src="https://unpkg.com/amazon-kinesis-video-streams-webrtc/dist/kvs-webrtc.min.js"></script>
    <title>Access Camera Clusters</title>
    <style>
        .hover tr:hover {
            background-color: darkseagreen;
        }
    </style>

    <script>
        function makeRequest(endpoint, reqType) {
            var xhr = new XMLHttpRequest();
            xhr.timeout = 5000;
            xhr.ontimeout = () => { console.error("Request timeout. :("); }
            xhr.open(reqType, endpoint);
            xhr.send({});
            return xhr;
        }
    </script>
</head>
<main>
    <div class="container">
        <div class="col-sm-8">
            <h1>Camera Clusters</h1>
            <label><a href="https://awslabs.github.io/amazon-kinesis-video-streams-webrtc-sdk-js/examples/index.html">Click here for creation of stream</a></label>
            <table class="table table-condensed hover">
                <tr style="background-color:transparent">
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Level</th>
                    <th scope="col">Location</th>
                    <th scope="col">Status</th>
                </tr>
                @foreach (Camera cam in Model) {
                    <tr class="clickable" style="cursor:pointer;">

                        <td>@cam.Camera_id</td>
                        <td>@cam.Serial_no</td>
                        <td>@cam.Location_has_camera_Level_no</td>
                        <td>CausewayPoint</td>
                        @if (cam.Status == true)
                        {
                            <td>On</td>
                        }
                        @if (cam.Status == false)  
                        {
                            <td>Off</td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
    <button onclick="console.log('clicked');makeRequest('/detectmaskrun','GET');" style="margin: 20px;">Opens webcam</button>
    <button onclick="console.log('clicked');makeRequest('/trainmaskrun','GET');" style="margin: 20px;">Starts training</button>
</main>