@{
    ViewData["Title"] = "Contacts | Admin";
}

<main>
    <h1>Contacts</h1>
    <hr />
    <table class="table table-responsive">
        <tr>
            <!--Table Head-->
            <th>Location</th>
            <th>SDA Count</th>
        </tr>
        <tr class="tab-content">
            <!--Table Content-->

        </tr>
    </table>
</main>