@model Organisation

@{
    ViewData["Title"] = "Create Partners | Admin";
}

<h1>Create Organisation</h1>
<form method="post"
      asp-controller="Admin"
      asp-action="CreateOrganisation"
      enctype="multipart/form-data">

    <div class="form-group row">
        <!--organisation_id-->
        <label asp-for="Organisation_id" name="organisaiton_id" class="col-md-2 col-form-label">Organisation ID :</label>
        <div class="col-md-8">
            <input asp-for="Organisation_id" class="form-control" />
        </div>
        <div class="col-sm-8">
            <span asp-validation-for="Organisation_id" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <!--company_name-->
        <label asp-for="Company_name" name="company_name" class="col-md-2 col-form-label">Company Name :</label>
        <div class="col-md-8">
            <input asp-for="Company_name" class="form-control" />
        </div>
        <div class="col-sm-8">
            <span asp-validation-for="Company_name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <!--email_address-->
        <label asp-for="Email_address" name="email_address" class="col-md-2 col-form-label">Email Address :</label>
        <div class="col-md-8">
            <input asp-for="Email_address" class="form-control" />
        </div>
        <div class="col-sm-8">
            <span asp-validation-for="Email_address" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <!--description-->
        <label asp-for="Description" name="description" class="col-md-2 col-form-label">Description :</label>
        <div class="col-md-8">
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="col-sm-8">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row btn-toolbar">
        <div class="offset-md-10 col-md-1 btn-group">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
        <div class="offset-md-10 col-md-1 btn-group">
            <a href="/Admin/Organisations" class="btn-primary btn">Cancel</a>
        </div>
    </div>

    @if (ViewData["Error_msg"] != null)
    {
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-5">
                <div class="alert alert-@ViewData["Error_type"]">
                    @ViewData["Error_msg"]
                </div>
            </div>
        </div>
    }

</form>