
@model Camera

@{
    ViewData["Title"] = "Edit Camera | Admin";
}

<h1>Edit Details</h1>
<form method="post"
      asp-controller="Admin"
      asp-action="EditCamera">

    <div class="form-group row">
        <div class="offset-sm-2"><h2>Edit Camera Details </h2></div>
    </div>

    <div class="form-group row">
        <!--camera_id-->
        <label asp-for="Camera_id" name="location_id" class="col-md-2 col-form-label">Camera ID :</label>
        <div class="col-md-8">
            <input asp-for="Camera_id" class="form-control" readonly />
        </div>
        <div class="col-sm-8">
            <span asp-validation-for="Camera_id" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <!--Serial_no-->
        <label asp-for="Serial_no" name="location_name" class="col-md-2 col-form-label">Serial No. :</label>
        <div class="col-md-8">
            <input asp-for="Serial_no" class="form-control" />
        </div>
        <div class="col-sm-8">
            <span asp-validation-for="Serial_no" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <!--Location_id-->
        <label asp-for="Location_has_camera_Level_no" name="address" class="col-md-2 col-form-label">Location ID :</label>
        <div class="col-md-8">
            <input asp-for="Location_has_camera_Level_no" class="form-control" readonly />
        </div>
        <div class="col-sm-8">
            <span asp-validation-for="Location_has_camera_Level_no" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row btn-toolbar">
        <div class="offset-md-10 col-md-1 btn-group">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </div>

    @if (ViewData["Error_msg"] != null)
    {
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-5">
                <div class="alert alert-@ViewData["Error_type"]">
                    @ViewData["Error_msg"]
                </div>
            </div>
        </div>
    }

</form>