@model Contact_Package

@{
    ViewData["Title"] = "Edit Contact | Admin";
}

<script src="~/lib/moment/moment.min.js"></script>
<link href="~/lib/dtpicker/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
<script src="~/lib/dtpicker/js/tempusdominus-bootstrap-4.min.js"></script>

<script language="javascript">
    $(document).ready(function () {
        //Date Picker
        $('#DatePicker')
            .datetimepicker({ format: 'YYYY-MM-DD' });
    });
</script>

<h1>Edit User</h1>
<form method="post">
    <div class="form-group row">
        <!--ID Input - Disabled-->
        <label asp-for="contact.Officer_id" name="Id" class="col-md-2 col-form-label">Officer ID :</label>
        <div class="col-md-8">
            <input asp-for="contact.Officer_id" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <!--Name Input-->
        <label asp-for="contact.Name" name="Name" class="col-md-2 col-form-label">Name :</label>
        <div class="col-md-8">
            <input asp-for="contact.Name" class="form-control" />
            <span asp-validation-for="contact.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <!--Contact No. Input-->
        <label asp-for="contact.Contact_no" name="Contact_no" class="col-md-2 col-form-label">Contact No. :</label>
        <div class="col-md-8">
            <input asp-for="contact.Contact_no" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <!--Contact No. Input-->
        <label class="control-label col-sm-2" asp-for="contact.Dob">Date of Birth :</label>
        <div class="col-sm-5">
            <div class="input-group date" id="DatePicker" data-target-input="nearest">
                <input type="text" asp-for="contact.Dob" class="form-control" />
                <div class="input-group-append"
                     data-target="#DatePicker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fas fa-calendar"></i></div>
                </div>
            </div>
        </div>
    </div>
    <!--TODO: Add Location, Organisation and Notification choosers via dropdown menus.-->
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row btn-toolbar">
        <div class="col-md-1 btn-group">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
        <div class="col-md-1 btn-group">
            <a asp-controller="Admin" asp-action="Contacts_Location" asp-route-id="@Model.contact.Location_Location_id" class="btn-primary btn">Cancel</a>
        </div>
        <div class="col-md-1 btn-group">
            <a asp-controller="Admin" asp-action="DeleteContact" asp-route-id="@Model.contact.Location_Location_id" class="btn-danger btn">Delete</a>
        </div>
    </div>


</form>