@{
    Layout = "../Shared/_LayoutMain_Admin.cshtml";
}

<!--Main Body-->
<main>
    <div class="container">
        <!--2/3 Left Panel for Stats, 1/3 Right Panel for quick camera views
            Bottom Panel for Contacts and pinned views.-->
        Test
    </div>
</main>