@{
    Layout = "../Shared/_LayoutMain_Admin.cshtml";
}

<!--Main Body-->
<main>
    <div class="container">
        <!--Make webpage dynamic, display content based on nav bar option instead of seperate HTML files. Use shared folder and render the pages.-->
        Test
    </div>
</main>