@{
    ViewData["Title"] = "About Us";
}
<article id="9ceaf11e-a893-4ba9-b831-14bcb33abc3a">
    <header><h1 class="card-title">About Us</h1></header><div class="card-body">
        <p id="4db569d5-52f0-4847-b3f6-7b9ac40a4709" class="">We are a team of students from Republic Polytechnic Singapore who are participating in the 2021 AWS Build On Hackathon. (Add more info and pics or smth ltr)</p><p id="5d122554-e37c-4107-90c7-8c44b48a7b90" class="">
        </p>
    </div>
</article>