@{
    Layout = "../Shared/_Layout.cshtml";
}

<!--Main Body-->
<main>
    <div class="container">
       <div class="col-sm-8">
        <ol>
            =====TEAM=====
            <li>Titus Lim (titus.happy@gmail.com)</li>
            <li>Nicole (nicolegoh2003@gmail.com)</li>
            <li>Yuan Wei (02yuanweic2@gmail.com)</li>
            <li>Jerald (jerald.lohrj@gmail.com)</li>
        </ol>
       </div>
</div>
</main>